.popupBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(245, 244, 244); */
  backdrop-filter: blur(10px);
}

.popupContainer {
  width: 900px;
  height: 605px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  /* backdrop-filter: blur(10px); */
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.progressText {
  font-family: "Gilroy-Bold";
  font-size: 17px;
  line-height: 141.3%;
  text-transform: capitalize;
  color: #86848b;
}

span {
  margin-left: 40px;
  margin-right: 45px;
}

.basic {
  color: #000;
}

.titleContainer {
  display: inline-block;
  text-align: center;
  margin-left: 16rem;
}

.uploadPhoto {
  margin-top: 55px;
  font-family: "Gilroy-SemiBold";
  font-size: 24px;
  line-height: 103.8%;
  color: #000000;
}

.uploadPhotoAdd {
  margin-top: 12px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 122.51%;
  text-align: center;
  color: #949494;
}

.body {
  margin-top: 55px;
  display: flex;
  justify-content: left;
}

.image {
  margin-top: 10px;
  color: #000;
}

.breakline {
  margin-top: 30px;
  margin-left: 44px;
  border: 0.3px solid #dfdde2;
  border-width: 0px 0px 1px 0px;
  width: 798px;
}

.footer {
  margin-top: 33px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.goBackBtn {
  margin-left: 44px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  width: 132px;
  height: 47px;
  border: none;
  font-family: "Gilroy-SemiBold";
  font-size: 17px;
  text-align: center;
  color: #6257e4;
  background: rgba(98, 87, 228, 0.04);
  border-radius: 12px;
}

.saveBtn {
  height: 47px;
  width: 155px;
  margin-left: 32.2rem;
  font-family: "Gilroy-SemiBold";
  font-size: 16.5px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: #472e8d;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}

.retakeText {
  background: #6257e4;
  border: 0.3px solid #21134a;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  height: 43px;
  width: 160px;
  border: none;
  margin-top: 30px;
  margin-left: 30rem;
}

.captureBtn {
  background: #dfdef0;
  border: none;
  border-radius: 10px;
  font-family: "Gilroy-SemiBold";
  font-size: 17px;
  text-align: center;
  width: 153px;
  height: 43px;
  color: #6257e4;
  margin-top: 30px;
  margin-left: 30rem;
}

.firstImg {
  height: 110px;
  width: 110px;
  border-radius: 15px;
  margin-left: 20rem;
}

.secondImg {
  height: 85px;
  width: 85px;
  border-radius: 15px;
  margin-left: 15px;
}

.thirdImg {
  height: 60px;
  width: 60px;
  border-radius: 28px;
  margin-left: 14px;
}

.oneImg {
  height: 110px;
  width: 110px;
  border-radius: 15px;
  background-color: #d9d9d9;
  margin-left: 20rem;
}

.twoImg {
  height: 85px;
  width: 85px;
  border-radius: 15px;
  margin-left: 15px;
  background-color: #d9d9d9;
}

.threeImg {
  height: 60px;
  width: 60px;
  border-radius: 28px;
  margin-left: 14px;
  background-color: #d9d9d9;
}

.removeBtn {
  position: relative;
  bottom: 4.4vh;
  height: 43px;
  width: 150px;
  padding: 0.7em;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 18rem;
  background: #6257e4;
  border: 0.3px solid #21134a;
  border-radius: 10px;
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.uploadBtn {
  position: relative;
  bottom: 3.2vh;  
  padding: 0.7em;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 18rem;
  background: #6257e4;
  border: 0.3px solid #21134a;
  border-radius: 10px;
  font-family: "Gilroy-Medium";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.oneImgSelect {
  height: 110px;
  width: 110px;
  border-radius: 15px;
  background-color: #d9d9d9;
  margin-left: 20rem;
  position: absolute;
  top: 40.8vh; 
}

.twoImgSelect {
  height: 85px;
  width: 85px;
  border-radius: 15px;
  margin-left: 15px;
  background-color: #d9d9d9;
  position: absolute;
  top: 45vh;
  margin-left: 27.8rem;
}

.threeImgSelect {
  height: 60px;
  width: 60px;
  border-radius: 28px;
  margin-left: 14px;
  background-color: #d9d9d9;
  position: absolute;
  top: 49vh;
  margin-left: 34rem;
} 
