.popupBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.popupContainer {
  width: 900px;
  height: 605px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.progressText {
  font-family: "Gilroy-Bold";
  font-size: 17px;
  line-height: 141.3%;
  text-transform: capitalize;
  color: #86848b;
}

span {
  margin-left: 40px;
  margin-right: 45px;
}

.basic {
  color: #000;
}

.titleContainer {
  display: inline-block;
  text-align: left;
  margin-left: 40px;
}

.experienceText {
  margin-top: 45px;
  font-family: "Gilroy-SemiBold";
  font-size: 23px;
  line-height: 103.8%;
  color: #000000;
}

.aboutYouText {
  font-family: "Gilroy-Medium";
  font-size: 17px;
  line-height: 122.51%;
  color: #949494;
  margin-left: 2px;
  margin-top: 11px;
}

.body {
  margin-top: 45px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.searchText {
  margin-left: 40px;
  height: 50px;
  width: 265px;
  background: rgba(217, 217, 217, 0.06);
  border: 0.3px solid #9e9ba7;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
}

.location {
  background: rgba(217, 217, 217, 0.06);
  border: 0.3px solid #9e9ba7;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  margin-left: 40px;
  height: 50px;
  width: 235px;
}

.designationText {
  background: rgba(217, 217, 217, 0.06);
  border: 0.3px solid #9e9ba7;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  height: 50px;
  width: 235px;
  margin-left: 3.5rem;
}

.bodyText {
  margin-top: 18px;
  margin-left: 40px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.startDateBtn {
  height: 50px;
  width: 265px;
  background: rgba(217, 217, 217, 0.06);
  border: 0.3px solid #9e9ba7;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  background: url(../../Images/calendarLogo.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

.endDateBtn {
  background: rgba(217, 217, 217, 0.06);
  border: 0.3px solid #9e9ba7;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  margin-left: 25px;
  height: 50px;
  width: 235px;
  background: url(../../Images/calendarLogo.svg);
  background-repeat: no-repeat;
  background-position: 94%;
}

.industryText {
  background: rgba(217, 217, 217, 0.06);
  border: 0.3px solid #9e9ba7;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  height: 50px;
  width: 235px;
  margin-left: 25px;
}

.textAreaDesc {
  height: 90px;
  width: 796px;
  margin-top: 15px;
  margin-left: 40px;
  background: rgba(217, 217, 217, 0.06);
  border: 0.3px solid #9e9ba7;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  resize: none;
}

.breakline {
  margin-top: 20px;
  margin-left: 44px;
  border: 0.3px solid #dfdde2;
  border-width: 0px 0px 1px 0px;
  width: 798px;
}

.footer {
  margin-top: 33px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.goBackBtn {
  margin-left: 40px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  width: 132px;
  height: 47px;
  border: none;
  font-family: "Gilroy-SemiBold";
  font-size: 17px;
  text-align: center;
  color: #6257e4;
  background: rgba(98, 87, 228, 0.04);
  border-radius: 12px;
}

.saveBtn {
  height: 47px;
  width: 155px;
  margin-left: 32.2rem;
  font-family: "Gilroy-SemiBold";
  font-size: 16.5px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: #472e8d;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}


.errorText {
  font-size: 13px;
  font-family: "Gilroy-Medium";
  color: rgb(187, 12, 12);
  text-align: center;
  margin-left: 20px;
}

::placeholder {
  padding: 16px;
  font-family: "Gilroy-SemiBold";
  font-size: 17px;
  display: flex;
  align-items: center;
  color: #472e8d;
  font-weight: bold;
}

.logoValue {
  vertical-align: middle;
  margin-left: -30px; 
}
