.popupBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.popupContainer {
  width: 900px;
  height: 605px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.progressText {
  font-family: "Gilroy-Bold";
  font-size: 17px;
  line-height: 141.3%;
  text-transform: capitalize;
  color: #86848b;
}

span {
  margin-left: 40px;
  margin-right: 45px;
}

.basic {
  color: #000;
}

.titleContainer {
  display: inline-block;
  text-align: left;
  margin-left: 40px;
}

.tellUsText {
  margin-top: 45px;
  font-family: "Gilroy-SemiBold";
  font-size: 23px;
  line-height: 103.8%;
  color: #000000;
}

.aboutYouText {
  font-family: "Gilroy-Medium";
  font-size: 17px;
  line-height: 122.51%;
  color: #949494;
  margin-left: 2px;
  margin-top: 11px;
}

.body {
  margin-top: 55px;
  display: flex;
  justify-content: left;
  align-items: left;
}


.headline{
  height: 49px;
  width: 265px;
  margin-left: 44px;
  border: 0.3px solid #9f90c9;
  border-radius: 10px;
  font-family: "Gilroy-SemiBold";
  font-size: 16px;
  color: #472e8d;
  display: flex;
}


.location {
  height: 49px;
  width: 265px;
  margin-left: 20px;
  background: #fdfcfd;
  border: 0.3px solid #9f90c9;
  border-radius: 10px;
  font-family: "Gilroy-SemiBold";
  font-size: 16px;
  color: #472e8d;
  display: flex;
}

.selectValue {
  height: 53px;
  width: 220px;
  margin-left: 18px;
  background: #fdfcfd;
  border: 0.3px solid #9f90c9;
  border-radius: 10px;
  padding: 14px; 
  font-family: "Gilroy-SemiBold";
  font-size: 17px;
  display: flex;
  align-items: center;
  color: #472e8d;
}


::placeholder {
  padding: 22px; 
  font-family: "Gilroy-SemiBold";
  font-size: 17px;
  display: flex;
  align-items: center;
  color: #472e8d;
}   


.optionValue{
  color: #472e8d;
}


.tellUsAbout {
  margin-top: 20px; 
  margin-left: 44px;
  height: 140px;
  width: 795px;
  background: rgba(217, 217, 217, 0.06);
  border: 0.3px solid #cccbce;
  border-radius: 10px;
  resize: none;
} 


.breakline {
  margin-top: 30px;
  margin-left: 44px;
  border: 0.3px solid #dfdde2;
  border-width: 0px 0px 1px 0px;
  width: 798px;
}

.footer {
  margin-top: 33px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.goBackBtn {
  margin-left: 44px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  width: 132px;
  height: 47px;
  border: none;
  font-family: "Gilroy-SemiBold";
  font-size: 17px;
  text-align: center;
  color: #6257e4;
  background: rgba(98, 87, 228, 0.04);
  border-radius: 12px;
}

/* button img {
  margin-right: 17px;
} */

.showMoreBtn {
  margin-left: 310px;
  width: 170px;
  height: 47px;
  border: none;
  cursor: pointer;
  font-family: "Gilroy-SemiBold";
  font-size: 17px;
  line-height: 19px;
  text-align: center;
  color: #472e8d;
  background: rgba(98, 87, 228, 0.12);
  border-radius: 12px;
}

.saveBtn {
  height: 47px;
  width: 155px;
  margin-left: 30px;
  font-family: "Gilroy-SemiBold";
  font-size: 16.5px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: #472e8d;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}

.errorText{
  font-size: 13px;
  font-family: "Gilroy-Medium";
  color: rgb(187, 12, 12);
  text-align: center;
  margin-right: 35px;
}
