@font-face {
  font-family: Gilroy-SemiBold;
  src: url(./components/Fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(./components/Fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(./components/Fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(./components/Fonts/Gilroy-Regular.ttf);
}

#root {
  font-family: "Gilroy-SemiBold", "Gilroy-Regular", "Gilroy-Medium",
    "Gilroy-Bold";
}
