.emojiBgValue{
   text-align: right;
}

.emojiBg{
    margin-top: -22px;
    margin-right: 30px;
    height: '26px';
    width: '24px';
}

.smileEmoji{
    height: '20px';
    width: '22px';
}

.smileEmojiValue{
    text-align: right;
    margin-top: -36px;
    margin-right: 42px;
}